<h1>  about website</h1>
<p>It is a DBMS project which tells that the students enroll online courses

* courses  will have short name ,name, description
* the index page will have a listing of courses that are available</p>